<%- include('../_partial/header', { title: "About" }) %>
  <h1>详情页面 <%= DETAILS.length %></h1>
  <a href="<%= PUBLIC_PATH %>about/index.html">返回</a>
  <hr />
  <a href="<%= href %>" target="_blank">查看 <%= name %> 详情</a>
<%- include('../_partial/footer') %>